upstream tems_backend {
    server {{ web_server_1 }}:5000;
    server {{ web_server_2 }}:5000;
}

server {
    listen 80;
    server_name {{ lb_domain_name }};

    location / {
        proxy_pass http://tems_backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
}
