<!DOCTYPE html>
<html>
<head>
    <title>Register - TEMS</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>
        
        <label>Email:</label>
        <input type="email" name="email" required><br><br>
        
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>
